<h1>bustle clone is for & by Dudes who are Coding forward as fast as you are. </h1>

<p>
  NEW FORCE IN MEDIA
Bustle clone delivers everything you want to know, see, and read right now whether you're starting your work day, taking a study break, waiting for a flight, preparing a bottle for your kid, or doing something else entirely.
</p>
