<h1>Submissions</h1>
{{#link-to 'submissions'}}Submit Here> {{/link-to}}

<h1>Jobs</h1>
{{#link-to 'jobs'}}Jobs Page> {{/link-to}}

<h1>Tech Support</h1>
{{#link-to 'support'}}Support@ButstleClone.com {{/link-to}}
